buildingworlds_week01/Library/
buildingworlds_week01/Temp/
buildingworlds_week02/Library/
buildingworlds_week02/Temp/
*.csproj
*.sln
*.userprefs
buildingworlds_week04/Library/
buildingworlds_week04/Temp/
buildingworlds_week05/Library/
buildingworlds_week05/Temp/
buildingworlds_week06/Library/
buildingworlds_week06/Temp/
buildingworlds_week09/Library/
buildingworlds_week11/Library/
buildingworlds_week13/Library/
buildingworlds_week13/Temp/
